<h1>Login</h1>

<form action="http://localhost:3000/api/auth/login" method="post">

  <div>
    <label for="email">email:</label>
    <br>
    <input name="email" id="email" type="text" placeholder="user@email.com">
  </div>
  <br>
  <div>
    <label for="password">password:</label>
    <br>
    <input name="password" id="password" type="password" placeholder="">
  </div>
  <br>
  <div>
    <button id="login">Login</button>
  </div>
</form>
