<h1>Login with GitHub</h1>

{{!-- <form action="http://localhost:3000/api/auth/login" method="post"> --}}
{{!-- <form action="http://localhost:3000/api/passportLocal/login" method="post"> --}}
<form action="http://localhost:3000/api/github/login" method="get">

  <div>
    <label for="email">Email:</label>
    <br>
    <input name="email" id="email" type="text" placeholder="user@email.com">
  </div>
  {{!-- <br> --}}
  {{!-- <div>
    <label for="password">Password:</label>
    <br>
    <input name="password" id="password" type="password" placeholder="">
  </div> --}}
  <br>
  <div>
    <button id="login">Login</button>
  </div>
  <br>
  <a href="http://localhost:3000/register">Create User</a>
</form>
