<h1>Register</h1>

{{!-- <form action="http://localhost:3000/api/users/" method="post"> --}}
<form action="http://localhost:3000/api/passportLocal/singup" method="post">

  <div>
    <label for="firstName">First Name:</label>
    <br>
    <input name="firstName" id="firstName" type="text" placeholder="">
  </div>
  <br>
  <div>
    <label for="lastName">Last Name:</label>
    <br>
    <input name="lastName" id="lastName" type="text" placeholder="">
  </div>
  <br>
  <div>
    <label for="age">Age</label>
    <br>
    <input name="age" id="age" type="number" placeholder="">
  </div>
  <br>
  <div>
    <label for="email">Email:</label>
    <br>
    <input name="email" id="email" type="text" placeholder="user@email.com">
  </div>
  <br>
  <div>
    <label for="password">Password:</label>
    <br>
    <input name="password" id="password" type="password" placeholder="">
  </div>
  <br>
  <div>
    <button id="register">Register</button>
  </div>
</form>
